.task{
    background: #f4f4f4;;
    margin:5px;
    padding: 10px 20px;
    cursor: pointer;
    max-width: 500px;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHwuLSmm2DxHp9pBfLA_sYKX_reLCBd5Pl8RNw65rIB_HE30Ue8ge8GebRcMRDzpWY-78eHIy8R_hCfQ&usqp=CAU'); */
    /* display: flex;
    justify-content: space-around; */
    /* flex-basis: 1000px;
    max-width: 1000px;
    max-height: 50px; */

    
}
.h3{
    padding: 20px;
    
}

.task.reminder{
    border-left: 5px solid green;

}

.task.h3{
    display: flex;
    align-items: center;
    justify-content: space-between; 
 }
 .icon{
     
 }
